.exchanger{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5%;
  height: 500px;
  background-color: #F6F7FF;
}
.exchanger-block{
  height: 397px;
  background-color: white;
  width: 60%;
  display: flex;
  flex-direction: column;
  padding: 5%;
  justify-content: space-between  ;
}
.exchanger-block label{
  font-size: 40px;
  font-weight: 700;
}
.exchanger-block p{
  font-size: 20px;
  color: #707C87;
}
.input-line{
  display: flex;
  justify-content: space-between ;
}
.arrow{
  margin-top: 7%;
}
.bottom-line{
  display: flex;
  justify-content: space-between;
}
.save-button{
  background-color: #2C36F2;
  border-radius: 4px;
  padding: 2%;
}
.save-button a{
  text-decoration: none;
  color: #F6F7FF;
}