.main{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5%;
  height: 500px;
}
.main-container{
  display: flex;
  width: 60%;
}
.main-info-container h2{
  font-size: 40px
}
.main-info-container p{
  font-size: 20px
}
.main-button{
  background: #2C36F2;
  color: #F6F7FF;
  width: fit-content;
  padding: 3%;
  border-radius: 4px;
}